section {
	display: flex;
	flex: 1;
	flex-direction: column;
	border: black solid 1px;
}

ol,
ul {
	list-style-type: none;
}

.page {
	display: flex;
}

.header {
	display: flex;
	padding: 8px;
	background-color: lightblue;
	align-items: center;
	justify-content: space-between;
}

div.body {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: space-between;
}

form#task-details-form {
	display: flex;
	flex-direction: column;
	padding: 4px 10px;
	gap: 10px;
}

fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

.button-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* css for popup modal */
.popup-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: none;
	align-items: center;
	justify-content: center;
	z-index: 2000;
}

.popup-box {
	background: white;
	padding: 20px;
	border-radius: 8px;
	width: 300px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.popup-buttons {
	display: flex;
	justify-content: flex-end;
	gap: 10px;
}

